body {
  color: #666;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

#mainLogo{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
  color: #666;
  text-decoration: none;
}

.container {
  margin: auto;
  overflow: auto;
  width: 100%;

}
.parent{
  align-items: center;
  display: flex;
  justify-content: center;

}

.title{
  display:flex;
  justify-content: center;

}

.imageDetails{
  margin:30px 0 0 0;
  text-align:center;
}

.imageLabel{
  width:100%;
}

.btn-lg{
  margin: 10px 0 0 0;
  width: 100%;
}

.description{
  width:100%;
}

.fileToUpload{
  border: 1px solid gray;
  width:100%;
}

header {
  background: #333;
  color: #fff;
  min-height: 55px;
}

header a {
  color: #fff;
}

.logo {
  float: left;
  margin-top: 15px;
  width: 30%;
    color: #ffa500;
}

nav{
  float: right;
  width: 70%;
}

nav ul {
  float: right;
}

nav li {
  list-style: none;
  float: left;
  padding: 0 10px;
}

nav a {
  color: #fff;
  padding-bottom: 5px;
}

nav li.current a, nav a:hover {
  color: #03899C;
  border-bottom: #03899C 3px solid;
}

section {
    padding: 20px 0;
    overflow: hidden
}

.tagline {
    background: #03899C;
    color: #fff;
}

.tagline h1 {
    text-align: center;
    font-size: 35px;
}

#gallary {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#gallary li {
    display: block;
    float: left;
    width: 23%;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 12px 7px 0;
    position: relative;
}

#gallary img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: #03899c;
    height: 55px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

