

body {
  color: #666;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

#mainLogo{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}far-left

#logo-text{
	
	
}




a {
  color: #666;
  text-decoration: none;
}

.container {
  margin: auto;
  overflow: auto;
  width: 100%;

}
.parent{
  align-items: center;
  //display: flex;
  justify-content: center;

}

.title{
  //display:flex;
  justify-content: center;

}

.imageDetails{
  margin:30px 0 0 0;
  text-align:center;
}

.imageLabel{
  width:100%;
}

.btn-lg{
  margin: 10px 0 0 0;
  width: 100%;
}

.description{
  width:100%;
}

.fileToUpload{
  border: 1px solid gray;
  width:100%;
}

header {
  background: #333;
  color: #fff;
  min-height: 55px;
}

header a {
  color: #fff;
}

.logo {
  float: left;
  margin-top: 15px;
  width: 30%;
    color: #ffa500;
}

nav{
	font-size: 20px;
  float: center;
  width: 100%;
  display:block;
text-align:center;
}

nav ul {
  float: center;
}

nav li {
  list-style: none;
  float: left;
  position: center;
  padding: 0 10px;
  
}

nav a {
  color: red;
 // padding-bottom: 5px;

}

nav li.current a, nav a:hover {
  color: #03899C;
  border-bottom: #03899C 3px solid;
  
}

section {
    padding: 20px 0;
    overflow: hidden
}

.tagline {
    background: #03899C;
    color: #fff;
}

.tagline h1 {
    text-align: center;
    font-size: 35px;
}

 

//####################
 
@font-face {
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Airstream-webfont.woff') format('woff'), url('fonts/Airstream-webfont.ttf') format('truetype'), url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
}

@font-face {
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/LAKESHOR-webfont.woff') format('woff'), url('fonts/LAKESHOR-webfont.ttf') format('truetype'), url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}

html, body {
  height: 100%;
}
 
body {
  background: rgba(149, 194, 215);
  background: rgb(149, 194, 215);
   display: flex;
   flex-direction: column;
  font-size: 10px;
}
 
a {
  text-decoration: none;
}

.main-header {
 flex: 0 1 auto;
}

.logo-text {
  background: white;
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
   display: flex;
    flex: 1 1 auto;
  flex-direction: column;
}
 
#thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  max-width: 80px;
  min-width: 80px;
  transition: transform 133ms ease-in-out;
}
 
#thumbnail-item:hover {
  transform: scale(1.2);
  transition: transform 1000ms ease-in;
}

.thumbnail-list {
   display: flex;
   flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;
  overflow-x: auto;
  padding: 20px 0;
  white-space: nowrap;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(302, 238, 255);
  display: block;
  font-family: airstreamregular;
  font-size: 30px;
  margin: 50;
  padding: 4px 10px;
}
.Avatarthumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(402, 338, 155);
  display: block;
  font-family: airstreamregular;
  font-size: 30px;
  margin: 90;
  padding: 4px 10px;
}
.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

 
@media all and (min-width: 768px) {
  .main-content {
   flex-direction: row;
    overflow: hidden;
  }
}

.thumbnail-list {
   flex-direction: column;
  margin-left: 400px;
  order: 0;
  padding: 0 35px;
}

#thumb-item {
  max-width: 260px;
}

.thumb-item+#thumbnail-item {
  margin-left: 20px;
}

 
 
#thumbnail-item:hover {
  transform: scale(1.75);
  transition: transform 1000ms ease-in;
}


 

#gallary{
  width: 440px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}


#gallary a{
  width: 440px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
p {
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 3px;
	font-size: 18px;
}
