/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE yummy
-------------------------------------------------- */

/* yummy base class */
.yummy {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.yummy-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.yummy-item {
  height: 32rem;
  background-color: #777;
}
.yummy-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: cover;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the yummy */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of yummy content */
  .yummy-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.title{
  display:flex;
  justify-content: center;

}

/*login styling*/

.parent{
  align-items: center;
  display: flex;
  justify-content: center;

}

.imageDetails{
  margin:30px 0 0 0;
  text-align:center;
}

.imageLabel{
  width:100%;
}

.btn-lg{
  margin: 10px 0 0 0;
  width: 100%;
}

.description{
  width:100%;
}

.fileToUpload{
  border: 1px solid gray;
  width:100%;
}
